/* TodoApp.css */
body.dark-mode {
    background-color: #222;
    color: white;
  }
  
  .todo-app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .todo-app-container h1 {
    margin-bottom: 20px;
  }
  
  /* Add styles for the search bar */
  .todo-app-container .search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-app-container input {
    padding: 8px;
    width: 100%;
  }
  
  /* Add styles for the dark mode button */
  .todo-app-container .dark-mode-button {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .todo-app-container .dark-mode-button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .todo-app-container .light-mode {
    background-color: #4caf50;
    color: #fff;
  }
  
  .todo-app-container .dark-mode {
    background-color: #222;
    color: #fff;
  }
  